@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;900&display=swap');
:root{
    --dark-gray: #151922;
    --dark-teal: #172a2e;
    --light-teal: #31615b;
    --lightest-teal: #57ada2;
    --dark-tan: #8b7d3f;
    --light-tan: #d7c161;
    --dark-red: #c71111;
    --pure-red: #ff0000;
    --pure-green: #00ff62;
    --dark-green: #319457;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper{
    width: 1000px;
    /* border: 1px solid red; */
    height: 20px;
    margin: 20px 0px;
}

body{
    background: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation */
.nav-container{
    background: var(--dark-teal);
    min-width: 100vw;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    color: var(--light-tan);
}

.nav-container select{
    padding: 3px 10px;
    background: var(--lightest-teal);
    color: var(--dark-teal);
    border-radius: 10px;
}

/* display field */

.display-field{
    border: 2px solid var(--lightest-teal);
    /* background: var(--light-tan); */
    color: var(--light-tan);
    border-radius: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 20px;
}
/* timer and counter */
.timer-counter{
    margin: 0;
    display: flex;
    flex-direction: row;
    color: var(--light-tan);
    justify-content: space-between;
}
.timer-counter p{
    font-weight: bold;
}
.timer-counter p span{
    margin-left: 20px;
}
.timer-counter .timer span{
    animation-name: blinker;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
.timer-counter .right-count span{
    color: var(--pure-green);
}
.timer-counter .wrong-count span{
    color: var(--pure-red);
}
@keyframes blinker{
    from{opacity: 1;}
    to{opacity: 0;}
}
/* input field */
.input-field{
    color: var(--light-tan);
    background: none;
    border: none;
    border-bottom: 1px dotted var(--light-tan);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    caret-color: var(--lightest-teal);
    padding: 0px 20px;
    letter-spacing: 10px;
}
.input-field:focus{
    outline: none;
}
/* keyboard field */
.keyboard-field{
    position: relative;
    transform: scale(0.7);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(30, 40px);
    grid-template-rows: repeat(5, 70px);
    grid-gap: 10px;
    border-radius: 10px;
}
.key{
    color: var(--light-tan);
    padding-top: 17px;
    grid-column: span 2;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
}
.key:focus {
    outline: none;
  }
  .key.delete {
    grid-column: span 4;
  }
  .key.tab {
    grid-column: span 3;
  }
  .key.backslash {
    grid-column: span 3;
  }
  .key.capslock {
    grid-column: span 4;
  }
  .key.return {
    grid-column: span 4;
  }
  .key.leftshift {
    grid-column: span 5;
  }
  .key.rightshift {
    grid-column: span 5;
  }
  .key.leftctrl {
    grid-column: span 3;
  }
  .key.command {
    grid-column: span 2;
  }
  .key.ctrl-r {
    grid-column: span 3;
  }
  .key.gr {
    grid-column: span 3;
  }
  .key.space {
    grid-column: span 13;
  }