@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;900&display=swap');
:root{
    --dark-gray: #151922;
    --dark-teal: #172a2e;
    --light-teal: #31615b;
    --lightest-teal: #57ada2;
    --dark-tan: #8b7d3f;
    --light-tan: #d7c161;
    --dark-red: #c71111;
    --pure-red: #ff0000;
    --pure-green: #00ff62;
    --dark-green: #319457;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper{
    width: 1000px;
    /* border: 1px solid red; */
    height: 20px;
    margin: 20px 0px;
}

body{
    background: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation */
.nav-container{
    background: var(--dark-teal);
    min-width: 100vw;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    color: var(--light-tan);
}

.nav-container select{
    padding: 3px 10px;
    background: var(--lightest-teal);
    color: var(--dark-teal);
    border-radius: 10px;
}

/* display field */

.display-field{
    border: 2px solid var(--lightest-teal);
    /* background: var(--light-tan); */
    color: var(--light-tan);
    border-radius: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 20px;
}
#display{
    display: flex;
    
}
#display p{
    margin: 0px 20px;
}
/* timer and counter */
.timer-counter{
    margin: 0;
    display: flex;
    flex-direction: row;
    color: var(--light-tan);
    justify-content: space-between;
}
.timer-counter p{
    font-weight: bold;
}
.timer-counter p span{
    margin-left: 20px;
}
.timer-counter .timer span{
    animation-name: blinker;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}
.timer-counter .right-count span{
    color: var(--pure-green);
}
.timer-counter .wrong-count span{
    color: var(--pure-red);
}
@keyframes blinker{
    from{opacity: 1;}
    to{opacity: 0;}
}
/* input field */
.input-field{
    color: var(--light-tan);
    background: none;
    border: none;
    border-bottom: 1px dotted var(--light-tan);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    caret-color: var(--lightest-teal);
    padding: 0px 20px;
    letter-spacing: 10px;
}
.input-field:focus{
    outline: none;
}
/* keyboard field */
.keyboard-field{
    position: absolute;
    bottom: 0;
    transform: scale(0.7);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(30, 40px);
    grid-template-rows: repeat(5, 70px);
    grid-gap: 10px;
    border-radius: 10px;
}
.key{
    color: var(--light-tan);
    padding-top: 17px;
    grid-column: span 2;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
}
.key:focus {
    outline: none;
  }
  .key.delete {
    grid-column: span 4;
  }
  .key.tab {
    grid-column: span 3;
  }
  .key.backslash {
    grid-column: span 3;
  }
  .key.capslock {
    grid-column: span 4;
  }
  .key.return {
    grid-column: span 4;
  }
  .key.leftshift {
    grid-column: span 5;
  }
  .key.rightshift {
    grid-column: span 5;
  }
  .key.leftctrl {
    grid-column: span 3;
  }
  .key.command {
    grid-column: span 2;
  }
  .key.ctrl-r {
    grid-column: span 3;
  }
  .key.gr {
    grid-column: span 3;
  }
  .key.space {
    grid-column: span 13;
  }

  
.nav-container h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* result statement starts here */
#statement{
  height: 25px;
  color: red;
  background: var(--dark-green);
  margin-left: 10px;
  cursor: pointer;
}

.statement-screen{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; 
  color: #fff;
  display: none;

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
}

.statement-screen h3{
  font-size: 2rem;
  margin-bottom: 30px;
}

.statement-screen table{
  border-spacing: 0;
  border: 1px solid var(--dark-green);

  background: rgba(0, 0, 0, 0.553);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 10px;
}

.statement-screen table th,
.statement-screen table td{
  border: 2px solid var(--dark-green);
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
}

#cross{
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-tan);
  background: var(--dark-red);
  padding: 0px 10px;
  border: 1px solid var(--dark-red);
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

}
#cross:hover, #reset:hover{
  background: var(--pure-red);
  color: var(--pure-green);
}
#reset{
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
  border: 1px solid var(--dark-red);
  color: var(--light-tan);
  background: var(--dark-red);
  border-radius: 10px;
}
/* take name layout */
.take-name{
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
}
.take-name h3{
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.take-name input{
  color: var(--light-tan);
  width: 500px;
  padding: 5px 20px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid var(--light-tan);
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}
.take-name button{
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 20px;
  border: 0.5px solid #fff;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  cursor: pointer;
}